@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');


body{
    background-color: #F4F6FF;
    font-family: 'Roboto', sans-serif;
}
.main-header{
    width:100vw;
    min-height: 105px;
    background-color:#fff;
    box-shadow:1px 1px 5px #ccc;
    padding: 15px 0;
}

.header-wrapp{
    margin: 0 auto;
    max-width: 1200px;
    width:100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav{
    display: flex;
    gap:30px;
}

.main-nav a{
    text-decoration: none;
    color:#6d6d6e;
    text-transform: uppercase;
}

.main-nav a:hover{
    text-decoration: underline;
}

.main-content{
    margin: 0 auto;
    max-width: 1200px;
    width:100vw;
    min-height:calc(100vh - 105px);
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-content.list{
    margin-top: 45px;
    align-items: flex-start;
}

.login-wrapp{
    display:flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
}

.main-form{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 1px 1px 5px #ccc;
    padding: 45px;
}

.login-form{
    display:flex;
    gap:30px;
    flex-direction: column;
    align-items: center;
}


h1 {
    color: #365985;
    font-weight: bold;
    font-size: 27px;
    letter-spacing: 0.1em;
}

.info {
    color: #949494;
    font-size: 17px;
    font-weight: 400;
}

.info.note {
    color: red;
    font-size: 17px;
    font-weight: 400;
}


.input{
    padding:10px;
    border-radius: 10px;
    border: 1px solid #D5DFE5;
    width:100%;
    text-align: left;
    position:relative;
}

.input input {
    width: 90%;
    border:none;
    color: #939ca1;
}

.input input::placeholder {
    opacity: 1;
    color: #939ca1;
}
.input input:focus{
    outline: none;
}

.input label {
    position: absolute;
    top: -21px;
    color: #355985;
}

.input img{
    height:10px;
}

.main-form .btn-blue{
    width:100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #2E87FF;
    color:#fff;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.main-form .btn-blue:hover {
    background-color: #1d59a6;
}

.error {
    color: red;
}

.btn-red{
    width:100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #ff2e2e;
    color:#fff;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.btn-red:hover{
    background-color: #8a1414;
}

.btn-green{
    width:100%;
    padding: 10px;
    border-radius: 8px;
    background-color: #48920b;
    color:#fff;
    font-weight: bold;
    border: none;
    text-decoration: none;
}

.btn-green:hover{
    background-color: #095f24;
}
/* LISTAS */

.user-item {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 2fr 2fr 1fr 1fr;
    grid-gap: 20px; 
    padding: 30px 50px;
}

.user-list {
    width:100%;
    min-width: 1200px;
    background-color: #fff;
    max-height:calc(100vh - 300px);
    overflow-y: scroll;
    color:#355985;
}

.list-header{
    background-color: #355985;  
    color: #fff;
    overflow: none;
}

.user-list li:nth-child(even) {
    background-color: #EFF0F0;
}

.user-item p {
    text-align: center;
    min-width: 100px;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  appearance: none;
}

a.acction{
    text-decoration: none;
    color:#355985;
}

a.acctionL:visited{
    text-decoration: none;
    color:#355985;
}

a.acction:hover{
    /* text-decoration: underline; */
    color:#173a69;
}

.user-item p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* modal */

dialog {
    border: none;
    min-width: 400px;
    box-shadow: 0px 5px 20px #727272;
}

dialog form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #a1aebe;
    padding: 30px;
}